@import "@/styles/base/variables";
@import "@/styles/base/mixin";
@import "@/styles/base/extends";

.container {
  padding: 3rem;
  background-image: url("../../../public/service/home-service-bg.png");

  @include Small {
    padding: 3rem 1rem;
  }

  .titleWrap {
    @extend %home-title;
  }

  .wrap {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 3rem;

    @include Medium {
      column-gap: 1rem;
    }

    @include X-Small {
      grid-template-columns: 1fr;
      row-gap: 1rem;
    }

    .items {
      padding: 2rem;
      background-color: #fff;
      display: flex;
      box-shadow: #e6e6e6 0px 0px 11px 1px;
      display: flex;
      align-items: center;

      &:hover {
        .icon {
          background-color: $main-green;
          transition: background-color 0.5s ease;

          svg {
            color: #fff;
          }
        }
      }

      @include Small {
        padding: 1rem .5rem;
      }

      .icon {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background-color: #eee;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 1rem;

        @include Small {
          width: 40px;
          height: 40px;
        }

        svg {
          color: #999;
          font-size: 24px;
        }
      }

      .subTitle {
        padding: 1rem 0;
        font-size: 18px;
        text-wrap: nowrap;

        @include Small {
          font-size: 16px;
        }
      }

      .content {
        color: #888;
      }
    }
  }
}
