@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');

* {
  font-family: "Noto Sans TC", sans-serif !important;
}

p,
h1,
h2 {
  color: #1b263b;
  line-height: 20px;
}

a {
  text-decoration: none;
  color: #1b263b;
}

p,
a {
  font-size: 14px;
}
